<!DOCTYPE html>
<html lang="es">  
<head>    
    <title>CREAR TABLERO</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
    <meta name="description" content="Descripción de la WEB">    
   
    
</head>  
<body>    
  <p>gagagaa</p>

  import random
  import os 

  def crea_tablero(fil,col,val):

  tablero = [] 

  for i in range(fil): #FILAS
      tablero.append([])
         for j in range(col): #COLUMNAS
             tablero[i].append(val)
   return tablero


   def muestra_tablero(tablero):

       for fila in tablero:
           for elem in fila:
               print(elem, end=" ")
           print()
</body>  
</html>