<!DOCTYPE html>
<html lang="es">  
<head>    
    <title>CREAR TABLERO</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
    <meta name="description" content="Descripción de la WEB">    
   
    
</head>  
<body>    
  
    <form id="formulario" method="get">
        {{formulary.as_div}}   

        <!--<label for="fila">Filas:</label>
        <input type="number" id="fila" name="fila" />
      
        <label for="columna">Columnas:</label>
        <input type="number" id="columna" name="columna" /> -->
      
        <input type="button" id="boton" name="boton" value="Crear Tablero"/>
     
    
</form>

  
</body>  
</html>