<!DOCTYPE html>
<html lang="es">  
<head>    
    <title>ÍNDICE DEL BUSCAMINAS</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Indica Buscaminas">
    <meta name="description" content="Indice Buscaminas">    

    <style type="text/css">
        input{
            margin-right: 20px;
        }
        #boton{
            width: 100px;
        }

    </style>
    
</head>  
<body>    
    <!--<a href="../crea_tablero/" target="_self"> Crear Tablero </a>-->
    <a href="{% url 'crea_tablero' %}">  Crear Tablero </a>


</body>  
</html>