<!DOCTYPE html>
<html lang="es">  
<head>    
    <title>TABLERO</title>    
    <meta charset="UTF-8">
    
    
</head>  
<body>    
		Filas {{filas}} <br/>
		Columnas {{columnas}} <br/>
    <table style="border: 2px solid black">        
        {% for f in rango_filas %}   <!--{{}} sirve para búsquedas // {} sirve para funciones -->
            <tr style="height: 15px; border: 1px solid black">
                {% for c in rango_columnas %}
                    <td style="width: 15px; border: 1px solid black"></td>
                {%endfor%}
            </tr>

        {%endfor%}
    </table>


</body>  
</html>